#contact-form footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#contact-form footer button {
    width: auto;
    margin-bottom: 0;
}

/* Contenedor de la lista */
#contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    align-items: start;
}
/* Ajuste para que las tarjetas no se estiren raro */
#contact-list article {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Iconos de los botones (para que no sean gigantes) */
#contact-list footer button {
    padding: 0.5rem;
}